@import "../../css/colors.css";

.homeContainer {
  flex: 1 0 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.reposContainer {
  position: relative;
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: minmax(70px, auto);
  justify-content: center;
  min-height: 90vh;
  align-content: center;
  padding: 5rem 5%;
}

.loadingContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.noReposMessage {
  text-align: center;
  padding: 5%;
}

.updateWarning {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  font-size: 1.3rem;
  color: var(--tertiary-dark);
}

.updateWarning span {
  text-transform: uppercase;
  font-weight: normal;
  font-family: 'Roboto', sans-serif;
}

.warningIcon {
  background-color: var(--tertiary-dark);
  border-radius: 100%;
  padding: 0.3rem;
  color: var(--white);
  width: 2.2rem;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
  width: 2.6rem;
  line-height: 2rem;
  margin-right: 0.5rem;
}

.viewSelectors {
  width: 15rem;
  margin: 1rem auto;
  display: flex;
  justify-content: center;
}

.viewSelectors > * {
  opacity: 0.2;
  transition: opacity 0.3s ease-out;
}

.viewSelectors:hover > * {
  opacity: 0.6;
}

.viewSelectorButton {
  width: 3rem;
  height: 3rem;
  padding: 0;
  border: none;
  outline: none;
  margin-right: 1rem;
}

.viewSelectorButton:hover {
  opacity: 1;
}

.viewSelectors:hover .viewSelectorButton.selectedButton {
  opacity: 1;
}

.viewSelectorButton:last-child {
  margin-right: 0;
}

.viewSelectIcon {
  width: 80%;
  height: 80%;
  margin: 10%;
}

@media (min-width: 1400px) {
  .reposContainer {
    max-width: 80%;
    margin-left: 10%;
  }
}