.reposContainer {
  position: relative;
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: minmax(70px, auto);
  justify-content: center;
  min-height: 90vh;
  align-content: center;
  padding: 2% 5%;
}

.loadingContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (min-width: 1400px) {
  .reposContainer {
    max-width: 80%;
    margin-left: 10%;
  }
}