@import "../../../../css/colors.css";
@import "../../../../css/units.css";

.pullRequestOuterContainer {
  position: relative;
}

.pullRequestInnerContainer {
  background-color: var(--primary-dark);
  box-shadow: var(--boxshadow);
  height: 100%;
  border-radius: 0.15rem;
}

.link {
  color: var(--white);
  border: 0.5rem solid var(--primary-extra-dark);
  border-radius: 0.15rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-decoration: none;
  font-weight: normal;
  transition: border 0.3s ease-in-out;
}

.link:hover {
  text-decoration: none;
  border-color: var(--secondary-medium);
  box-shadow: none;
}

.header {
  background-color: var(--primary-extra-dark);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer {
  background-color: var(--primary-extra-dark);
  width: 100%;
  color: var(--white);
  height: 1.5rem;
  line-height: 1;
  display: flex;
  align-items: flex-end;
  margin-top: auto;
}

.title {
  font-weight: normal;
  font-size: 1.9rem;
  font-family: 'Roboto', sans-serif;
  color: var(--white);
}

.topRow {
  display: flex;
  padding: 1.2rem 1.2rem 0.5rem;
  flex-wrap: wrap;
  justify-content: space-between;
}

.repoName {
  padding: 1rem 1.2rem 0;
}

.repoName h3 {
  font-weight: normal;
  font-size: 1.5rem;
  font-family: 'Roboto', sans-serif;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.leftColumn, .middleColumn  {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.leftColumn {
  align-items: flex-start;
}

 .middleColumn  {
  align-items: flex-end;
}

.bottomRow {
  padding: 0 1.2rem;
}

.infoSpan {
  font-weight: normal;
  font-size: 0.9rem;
  font-family: 'Roboto', sans-serif;
  margin-left: 1rem;
  text-transform: uppercase;
  opacity: 0.8;
}

.authorAvatar {
  width: 5rem;
  height: 5rem;
  border-radius: 0.3rem;
  box-shadow: var(--boxshadow);
}

.authorLogin {
  font-size: 1.2rem;
  font-family: 'Roboto', sans-serif;
  margin: 0.5rem auto;
  max-width: 7rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.reviewStatusIndicator {
  width: 3.5rem;
  height: 3.5rem;
  position: absolute;
  top: -2.2rem;
  right: 2.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}

.reviewed {
  background-color: var(--white);
}

.reviewRequested {
  background-color: var(--secondary-medium);
}

.noRequest {
  background-color: var(--medium-grey);
}

.reviewStatusIcon {
  width: 2rem;
  height: 2rem;
}

.noRequest .reviewStatusIcon, .reviewStatusIcon {
  width: 1.6rem;
  height: 1.6rem;
}

.reviewStatusSpan {
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--primary-extra-dark);
  font-family: 'Roboto', sans-serif;
}

.reviewsContainer {
  flex: 0 1 100%;
  align-self: flex-start;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.review {
  margin-bottom: 1.3rem;
  margin-right: 1rem;
  background-color: var(--primary-extra-dark);
  padding: 0.2rem 0.5rem 0;
  border-radius: 0.3rem;
}

.reviewsTitle {
  font-size: 1.3rem;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-weight: normal;
  margin: 0 auto 1rem auto;
  align-self: flex-start;
}

.reviewTopRow {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.reviewBottomRow {
  display: flex;
  flex-direction: column;
}

.reviewAuthorAvatar {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 0.3rem;
  box-shadow: var(--boxshadow);
  margin-right: 1rem;
}

.reviewAuthorLogin {
  font-size: 0.9rem;
  font-family: 'Roboto', sans-serif;
}

.review:last-child {
  margin-right: 0;
}

.reviewIcons {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.reviewIconContainer {
  min-width: 2rem;
  height: 2rem;
  border-radius: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.5rem;
  margin-top: 0.3rem;
  padding: 0.3rem;
}

.reviewIconContainer span {
  font-weight: bold;
  font-size: 0.9rem;
  margin-left: 0.2rem;
}

.reviewIconContainer:last-child {
  margin-right: 0;
}

.reviewIconContainer svg {
  width: 1.5rem;
  height: 1.5rem;
}

.statusApproved {
  background-color: var(--secondary-medium);
  color: var(--primary-extra-dark);
}

.statusChangesRequested {
  background-color: var(--error-red);
  color: var(--white);
}

.statusChangesRequested svg, .statusDismissed svg, .statusApproved svg {
  width: 1.2rem;
  height: 1.2rem;
}

.statusCommented {
  background-color: var(--primary-medium);
  color: var(--white);
}

.statusCommented path {
  fill: var(--white);
}

.statusPending {
  background-color: var(--white);
  color: var(--primary-extra-dark);
}

.statusDismissed {
  background-color: var(--medium-grey);
  color: var(--white);
}

.noReviewsMessage {
  font-size: 1.2rem;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  color: var(--medium-grey);
}

.notificationCount, .linkIconContainer {
  top: -2.2rem;
  right: -1.5rem;
}

.notificationCount, .linkIconContainer, .dismissNotifications {
  position: absolute;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 100%;
  line-height: 3.5rem;
}

.notificationCount {
  background-color: var(--tertiary-dark);
  transition: opacity 0.15s ease-out;
  opacity: 1;
  text-align: center;
  font-weight: bold;
  font-size: 1.6rem;
  color: var(--primary-extra-dark);
  cursor: pointer;
}

.notificationCount.zeroNotifications {
  opacity: 0;
  cursor: none;
  pointer-events: none;
}

.dismissNotifications {
  top: 0;
  right: 0;
  opacity: 0;
  transition: opacity 0.3s ease-out;
  background-color: var(--error-red);
  display: flex;
  justify-content: center;
  align-items: center;
}

.notificationCount:hover .dismissNotifications {
  opacity: 1;
}

.linkIconContainer {
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-medium);
  transition: opacity 0.3s ease-in-out;
  right: 6.9rem;
}

.link:hover .linkIconContainer {
  opacity: 1;
}

.linkIcon {
  width: 2rem;
  height: 2rem;
}

.linkIcon path {
  fill: var(--primary-dark);
}

.branchInfoContainer {
  color: var(--primary-dark);
  background-color: var(--white);
  border-radius: 0.3rem;
  padding: 0.2rem 0.5rem;
  max-width: 19.5rem;
}

.branchInfo {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.branchInfo span, .comments {
  font-family: 'Roboto', sans-serif;
  font-size: 1.3rem;
}

.branchInfo span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.branchInfo svg {
  width: 1.4rem;
  height: 1.4rem;
  margin: 0 0.5rem;
  fill: var(--primary-dark);
  flex-shrink: 0;
}

.branchInfo span:first-of-type {
  flex-shrink: 0;
}

.lineChangesInfo {
  margin-left: auto;
  opacity: 0.8;
}

.lineChangesInfo span, .reviewRequests {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: bold;
  padding: 0 1rem;
}

.additions {
  color: var(--white);
  background-color: var(--primary-medium);
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
}

.deletions {
  color: var(--white);
  background-color: var(--secondary-dark);
  border-top-right-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
}

.comments {
  display: flex;
  align-items: center;
  padding: 0.4rem;
  border-radius: 0.3rem;
  background-color: var(--primary-medium);
  margin-top: 1rem;
}

.comments svg {
  fill: var(--white);
  width: 1.8rem;
  height: 1.8rem;
  margin-left: 0.5rem;
}

.reviewRequests {
  background-color: var(--secondary-dark);
  text-transform: uppercase;
  border-radius: 0.3rem;
  margin-top: 1rem;
  font-size: 1.1rem;
}