@import "../../../../css/colors.css";
@import "../../../../css/units.css";

.pullRequest {
  padding: var(--spacing-4) var(--spacing-3);
  display: flex;
}

.pullRequest:nth-child(odd) {
  background-color: var(--primary-medium);
}

.leftColumn {
  min-width: 70%;
  padding-right: var(--spacing-2);
}

.statusDefault {}

.statusOutstandingReview {}

.prInfoContainer {
  display: inline-flex;
  align-content: center;
}

.createdAt {
  margin-left: var(--spacing-2);
}

.authorAvatar {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: var(--spacing-1);
  border: 2px solid var(--white);
}

.authorLogin {
  display: block;
}

.mainStatus {
  padding: 0 var(--spacing-1);
}

.reviewTagsContainer {
  display: inline-flex;
  flex-flow: row wrap;
}

.reviewStatus {
  padding: var(--spacing-1);
  margin: var(--spacing-1);
  text-align: center;
}

.statusApproved {
  background-color: var(--approved);
}

.statusChangesRequested {
  background-color: var(--changes-requested);
}

.statusCommented {
  background-color: var(--commented);
}

.statusPending {
  background-color: var(--pending);
  color: var(--primary-dark)
}

.statusDismissed {
  background-color: var(--dismissed);
}