@import "../../../../css/colors.css";
@import "../../../../css/units.css";

.pullRequest {
  padding: var(--spacing-2) 0;
  display: flex;
}

.leftColumn {
  flex-basis: 70%;
}

.statusDefault {}

.statusOutstandingReview {}

.authorAvatar {
  width: 3rem;
  height: 3rem;
  border-radius: var(--spacing-1);
  border: 2px solid var(--white);
}

