@import "../../../../css/colors.css";
@import "../../../../css/units.css";

.pullRequest {
  margin: 0 auto 2rem auto; 
  background-color: var(--white);
  box-shadow: 0 0.1rem 0.4rem 0 rgba(0, 0, 0, 0.4);
  color: var(--primary-dark);
  max-width: 140rem;
}

.header {
  background-color: var(--secondary-dark);
  padding: 1rem 1.5rem;
}

.title {
  font-weight: normal;
  font-size: 1.7rem;
  font-family: 'Roboto', sans-serif;
  color: var(--white);
}

.link {
  transition: 0.3s ease-in-out all;
}

.link:hover{
  text-decoration-color: var(--secondary-medium);
}

.bodyWrapper {
  display: flex;
  padding: 1.5rem;
  flex-wrap: wrap;
  justify-content: space-between;
}

.leftColumn, .middleColumn  {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.leftColumn {
  flex: 0 1 20%;
}

.middleColumn  {
  flex: 0 1 auto;
}

.rightColumn  {
  flex: 0 1 50%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.infoSpan {
  font-weight: normal;
  font-size: 1.2rem;
  font-family: 'Roboto', sans-serif;
}

.authorAvatar {
  width: 8rem;
  height: 8rem;
  border-radius: 100%;
  box-shadow: 0 0.1rem 0.4rem 0 rgba(0, 0, 0, 0.4);
}

.authorLogin {
  color: var(--primary-dark);
  font-size: 1.7rem;
  font-family: 'Roboto', sans-serif;
  margin: 1rem auto;
}

.reviewStatusIndicator {
  width: 8rem;
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}

.reviewed {
  background-color: var(--primary-medium);
}

.reviewRequested {
  background-color: var(--secondary-medium);
  position: relative;
}

.noRequest {
  background-color: var(--primary-dark);
}

.reviewStatusIcon {
  width: 4rem;
  height: 4rem;
}

.reviewStatusSpan {
  font-size: 5rem;
  color: var(--secondary-dark);
  font-family: 'Roboto', sans-serif;
}

.statusSpan {
  font-weight: normal;
  font-size: 1.4rem;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  margin: 1.5rem auto;
}

.reviewStatusWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.spinCircle {
  position: absolute;
  left: -0.5rem;
  top: -0.5rem;
  width: 9rem;
  height: 9rem;
  animation: spin 30s linear infinite;
  overflow: visible;
}

.spinCircle circle {
  stroke-width: 3;
  stroke-dasharray: 15, 5;
  fill: none;
  stroke: var(--secondary-dark);
  opacity: 0.3;
}

@keyframes spin { 
  100% { 
    transform: rotate(360deg);
  }
}

.reviewsContainer {
  flex: 0 1 100%;
  align-self: flex-start;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.review {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: var(--white);
  box-shadow: 0 0.1rem 0.4rem 0 rgba(0, 0, 0, 0.4);
  padding: 0 1.5rem;
  border-radius: 0.3rem;
  margin-bottom: 1.3rem;
  margin-right: 1rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.05);
}

.reviewsTitle {
  font-size: 1.4rem;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-weight: normal;
  margin: 0 auto 1rem auto;
  align-self: flex-start;
}

.reviewAuthorAvatar {
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  box-shadow: 0 0.1rem 0.4rem 0 rgba(0, 0, 0, 0.4);
}

.reviewAuthorLogin {
  font-size: 1.4rem;
  font-family: 'Roboto', sans-serif;
  margin: 0.7rem 1rem;
}

.reviewState {
  padding: 0.5rem 1.3rem;
  font-size: 1.4rem;
  font-family: 'Roboto', sans-serif;
  border-radius: 0.5rem;
  margin: 0.7rem 1rem 0.7rem 0;
  border: 0.1rem solid transparent;
  white-space: nowrap;
}

.review .reviewState:last-child {
  margin-right: 0;
}

.statusApproved {
  background-color: var(--secondary-medium);
}

.statusChangesRequested {
  background-color: var(--tertiary-dark);
  color: var(--white);
}

.statusCommented {
  background-color: var(--primary-medium);
  color: var(--white);
}

.statusPending {
  background-color: var(--white);
  border-color: var(--primary-dark);
}

.statusDismissed {
  background-color: var(--secondary-dark);
  color: var(--white);
}

.noReviewsMessage {
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.noReviewsMessage span {
  font-size: 1.4rem;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
}

.noReviewsIcon {
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  padding: 0.7rem;
  background-color: var(--light-grey);
  margin-right: 1rem;
}

@media (max-width: 1100px) {
  .leftColumn, .middleColumn {
    flex-basis: 50%;
  }

  .rightColumn {
    flex-basis: 100%;
    margin-top: 2rem;
  }
}