@import "../../../../css/colors.css";
@import "../../../../css/units.css";

.pullRequest {
  margin: 0 auto 2rem auto; 
  background-color: var(--primary-dark);
  box-shadow: var(--boxshadow);
  border: 0.5rem solid var(--primary-extra-dark);
  color: var(--white);
  max-width: 140rem;
  transition: 0.3s ease-in-out all;
  position: relative;
  border-radius: 0.15rem;
}

.header {
  background-color: var(--primary-extra-dark);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer {
  background-color: var(--primary-extra-dark);
  width: 100%;
  color: var(--white);
  height: 1.5rem;
  line-height: 1;
  display: flex;
  align-items: flex-end;
}

.title {
  font-weight: normal;
  font-size: 1.9rem;
  font-family: 'Roboto', sans-serif;
  color: var(--white);
}

.link {
  text-decoration: none;
  font-weight: normal;
}

.link:hover {
  text-decoration: none;
}

.link:hover .pullRequest {
  border-color: var(--secondary-medium);
  box-shadow: none;
}



.bodyWrapper {
  display: flex;
  padding: 1.5rem;
  flex-wrap: wrap;
  justify-content: space-between;
}

.leftColumn, .middleColumn  {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* .leftColumn {
  flex: 0 1 20%;
}

.middleColumn  {
  flex: 0 1 auto;
}

.rightColumn  {
  flex: 0 1 50%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
} */

.infoSpan {
  font-weight: normal;
  font-size: 0.9rem;
  font-family: 'Roboto', sans-serif;
  margin-left: 1rem;
  text-transform: uppercase;
  opacity: 0.8;
}

.authorAvatar {
  width: 5rem;
  height: 5rem;
  border-radius: 0.3rem;
  box-shadow: var(--boxshadow);
}

.authorLogin {
  font-size: 1.2rem;
  font-family: 'Roboto', sans-serif;
  margin: 1rem auto;
}

.reviewStatusIndicator {
  width: 8rem;
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}

.reviewed {
  background-color: var(--primary-medium);
}

.reviewRequested {
  background-color: var(--secondary-medium);
  position: relative;
}

.noRequest {
  background-color: var(--primary-dark);
}

.reviewStatusIcon {
  width: 4rem;
  height: 4rem;
}

.reviewStatusSpan {
  font-size: 5rem;
  color: var(--white);
  font-family: 'Roboto', sans-serif;
}

.requestedReviewersContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 20rem;
}

.requestedReviewer {
  display: inline-flex;
  align-items: center;
  margin-top: 0.5rem;
}

.requestedReviewerAvatar {
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
  box-shadow: var(--boxshadow);
}

.requestedReviewerName {
  color: var(--white);
  font-size: 1.1rem;
  font-family: 'Roboto', sans-serif;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.requestedReviewsTitle {
  font-size: 1.1rem;
  font-family: 'Roboto', sans-serif;
  margin-left: 0.5rem;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

.statusSpan {
  font-weight: normal;
  font-size: 1.4rem;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  margin: 1.5rem auto;
}

.reviewStatusWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.spinCircle {
  position: absolute;
  left: -0.5rem;
  top: -0.5rem;
  width: 9rem;
  height: 9rem;
  animation: spin 30s linear infinite;
  overflow: visible;
}

.spinCircle circle {
  stroke-width: 3;
  stroke-dasharray: 15, 5;
  fill: none;
  stroke: var(--secondary-dark);
  opacity: 0.3;
}

@keyframes spin { 
  100% { 
    transform: rotate(360deg);
  }
}

.reviewsContainer {
  flex: 0 1 100%;
  align-self: flex-start;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.review {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: var(--white);
  box-shadow: var(--boxshadow);
  padding: 0 1.5rem;
  border-radius: 0.3rem;
  margin-bottom: 1.3rem;
  margin-right: 1rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.05);
}

.reviewsTitle {
  font-size: 1.4rem;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-weight: normal;
  margin: 0 auto 1rem auto;
  align-self: flex-start;
}

.reviewAuthorAvatar {
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  box-shadow: var(--boxshadow);
}

.reviewAuthorLogin {
  font-size: 1.4rem;
  font-family: 'Roboto', sans-serif;
  margin: 0.7rem 1rem;
}

.reviewState {
  padding: 0.5rem 1.3rem;
  font-size: 1.4rem;
  font-family: 'Roboto', sans-serif;
  border-radius: 0.5rem;
  margin: 0.7rem 1rem 0.7rem 0;
  border: 0.1rem solid transparent;
  white-space: nowrap;
}

.review .reviewState:last-child {
  margin-right: 0;
}

.statusApproved {
  background-color: var(--secondary-medium);
}

.statusChangesRequested {
  background-color: var(--tertiary-dark);
  color: var(--white);
}

.statusCommented {
  background-color: var(--primary-medium);
  color: var(--white);
}

.statusPending {
  background-color: var(--white);
  border-color: var(--primary-dark);
}

.statusDismissed {
  background-color: var(--secondary-dark);
  color: var(--white);
}

.noReviewsMessage {
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.noReviewsMessage span {
  font-size: 1.4rem;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
}

.noReviewsIcon {
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  padding: 0.7rem;
  background-color: var(--light-grey);
  margin-right: 1rem;
}

.notificationCount, .linkIconContainer {
  position: absolute;
  top: -1.5rem;
  right: -1.5rem;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 100%;
  line-height: 3.5rem;
}

.notificationCount {
  background-color: var(--tertiary-dark);
  text-align: center;
  font-weight: bold;
  font-size: 1.6rem;
  color: var(--primary-extra-dark);
}

.linkIconContainer {
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-medium);
  transition: opacity 0.3s ease-in-out;
}

.link:hover .linkIconContainer {
  opacity: 1;
}

.linkIcon {
  width: 2rem;
  height: 2rem;
}

.linkIcon path {
  fill: var(--primary-dark);
}

/* 
@media (max-width: 1100px) {
  .leftColumn, .middleColumn {
    flex-basis: 50%;
  }

  .rightColumn {
    flex-basis: 100%;
    margin-top: 2rem;
  }
}

@media (min-width: 1600px) {
  .requestedReviewersContainer {
    max-width: 30rem;
  }
} */