@import "../../css/colors.css";

.container {
  position: absolute;
  top: 35%;
  left: 0;
  width: 100%;
  z-index: 20;
  color: var(--white);
}

.modalContent {
  width: 70%;
  margin-left: 15%;
  background-color: var(--primary-dark);
  text-align: center;
  padding: 3rem;
  border-radius: 0.3rem;
}

.modalOverlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.6);
}

.yesButton, .noButton {
  margin-top: 2rem;
  display: inline-block;
}

.yesButton {
  margin-right: 3rem;
}