@import "../../css/colors.css";
@import "../../css/fonts.css";


.button {
  margin: 0;
  padding: 1rem 3rem;
  border: none;
  border-radius: 0.3rem;
  background-color: var(--primary-medium);
  color: white;
  font-family: var(--pullp-font);
  font-size: 1.5rem;
  transition: all 0.5s ease;
}

.button:hover, .button:focus {
  background-color: var(--primary-dark);
}