@import "../../../../css/colors.css";

.container {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  color: var(--medium-grey);
  font-weight: normal;
  margin-bottom: 2rem;
}

.avatar {
  width: 15rem;
  height: 15rem;
  border-radius: 0.3rem;
  box-shadow: 0 0.1rem 0.4rem 0 rgba(0, 0, 0, 0.4);
}

.logout {
  margin-top: 2rem;
  padding: 1rem 3rem;
  border: none;
  border-radius: 0.3rem;
  background-color: var(--primary-dark);
  color: white;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 1.5rem;
  font-family: 'Roboto', sans-serif;
  transition: all 0.5s ease;
}

.logout:hover, .logout:focus {
  background-color: var(--secondary-medium);
}
