@import "../../css/colors.css";
@import "../../css/fonts.css";

.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.container {
  color: var(--white);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-height: 5rem;
  margin-bottom: 2rem;
  padding: 1rem 2rem;
  border-radius: 0.3rem;
  box-shadow: 0 0.1rem 0.4rem 0 var(--tertiary-dark);
  background-color: var(--tertiary-dark);
  max-width: 70rem;
}

.icon {
  min-width: 3.5rem;
  min-height: 3.5rem;
  border-radius: 100%;
  border: 0.3rem solid var(--white);
  display: inline-block;
  text-align: center;
  font-family: var(--pullp-font);
  line-height: 1.4;
  font-size: 2.2rem;
  font-weight: bold;
  margin-right: 2rem;
}

.message {
  margin: 0;
  font-size: 1.4rem;
}

.title {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  text-align: center;
}