@import '../../css/colors.css';

.container {
  width: 100%;
}

.loadingContainer {
  display: flex;
  justify-content: center;
  margin: 2rem 0 0;
}

.loadingContainer div {
  left: -2.5rem;
}

.loadingMessage {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-size: 1.5rem;
  color: var(--medium-grey);
  text-align: center;
  margin-top: 3rem;
}