@import "../../../../css/colors.css";
@import "../../../../css/units.css";

.repoContainer {
  background-color: white;
  transition: 0.5s ease-in-out all;
  overflow: hidden;
  box-shadow: 0 0.1rem 0.4rem 0 rgba(0, 0, 0, 0.4), inset 0 -0.4rem 0 0 var(--primary-medium);
}

.repoEntering {
  opacity: 0;
}

.repoEntered {
  opacity: 1;
}

.repoExiting {
  opacity: 0;
}

.indicatorsContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: 0.5s ease-in-out all;
}

.indicatorsContainer:hover {
  box-shadow: inset 0 -0.4rem 0 0 var(--secondary-medium);
}


.countContainer, .reviewsContainer {
  flex: 0 1 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.countContainer {
  padding: 1.5rem;
}

.reviewsContainer {
  padding: 1.5rem 1.5rem 1.5rem 0;
}

.repo {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name {
  color: var(--white);
  font-weight: normal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 0;
  font-weight: normal;
  font-size: 1.7rem;
  font-family: 'Roboto', sans-serif;
  padding: 0.8rem 1rem;
}

.ownerAvatar {
  width: 2.5rem;
  height: 2.5rem;
  margin-left: 1rem;
  border-radius: 0.3rem;
  box-shadow: 0 0.1rem 0.4rem 0 rgba(0, 0, 0, 0.4);
}

.link {
  align-self: start;
  justify-self: start;
  grid-column: 1 / span 2;
  transition: 0.5s ease all;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: var(--primary-medium);
}

.prCountLabel {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 1.4rem;
  text-transform: uppercase;
  color: var(--primary-dark);
  display: block;
  text-align: center;
  margin: 1rem auto;
}

.prRow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 0.8rem;
}

.prAuthor {
  margin-left: 1rem;
  font-size: 1.2rem;
  width: 100%;
}

.prAuthor, .extraCount {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: 'Roboto', sans-serif;
  color: var(--primary-dark);
}

.prAvatar {
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  box-shadow: 0 0.1rem 0.4rem 0 rgba(0, 0, 0, 0.4);
  flex: 1 0 3rem;
}

.userIcon {
  background-color: var(--primary-medium);
  padding: 0.6rem;
}

.progressCircle {
  width: 9rem;
  position: absolute;
  top: 0;
  left: 0;
}

.progressCircle path:nth-child(1) { 
  stroke: var(--secondary-dark);
  stroke-width: 18;
}

.progressCircle path:nth-child(2) { 
  stroke: var(--secondary-medium); 
}

.progressCircle text { 
  display: none;
}

.reviewCoverageContainer, .reviewRequestsContainer  {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 9rem;
  height: 9rem;
  position: relative;
}

.reviewRequestsContainer, .authorsContainer {
  margin-top: 1rem;
}

.requestsCircle {
  background-color: var(--secondary-medium);
  border-radius: 50%;
  width: 8.2rem;
  height: 8.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
 }

.requestsCount {
  color: var(--secondary-dark);
  font-weight: bold;
  font-size: 4rem;
}

.spinCircle {
  position: absolute;
  left: 0;
  top: 0;
  width: 9rem;
  height: 9rem;
  animation: spin 30s linear infinite;
  overflow: visible;
}

.spinCircle circle {
  stroke-width: 3;
  stroke-dasharray: 15, 5;
  fill: none;
  stroke: var(--secondary-dark);
  opacity: 0.3;
}

.noRequests .requestsCircle {
  background-color: var(--secondary-dark);
}

.noRequests .countLabel {
  color: var(--white);
}

.maxPrWarning {
  background-color: var(--tertiary-dark);
  width: 100%;
  text-align: center;
  margin-bottom: 0.4rem;
  color: var(--white);
  font-size: 1.2rem;
  padding: 0.4rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}


.maxPrWarning span {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
}

.warningIcon {
  min-width: 1.8rem;
  height: 1.8rem;
  border-radius: 100%;
  border: 0.2rem solid var(--white);
  display: inline-block;
  text-align: center;
  line-height: 1.4;
  font-size: 1.1rem;
  font-weight: bold;
  margin-right: 0.4rem;
}

@keyframes spin { 
  100% { 
    transform: rotate(360deg);
  }
}

.zeroCount {
  background-color: var(--secondary-dark);
}

.zeroCount .countContainer {
  align-self: center;
}

.zeroCount .link {
  background-color: var(--primary-dark);
}


.zeroCount .indicatorsContainer {
  opacity: 0.5;
}

.zeroCount .ownerAvatar, .zeroCount .name {
  opacity: 0.7;
}


.zeroCount .prCountLabel {
  color: var(--white);
}
