@import "../../../../css/colors.css";
@import "../../../../css/units.css";

.repoContainer {
  background-color: var(--primary-dark);
  padding: var(--spacing-2);
  transition: 0.5s ease all;
  box-shadow: 0 0 2px 2px transparent;
  overflow: hidden;
}

.repoContainer:hover {
  box-shadow: 0 0 2px 2px var(--secondary-dark);
}

.span1 {
  grid-row-end: span 1;
  background-color: var(--primary-extra-dark);
}

.span2 {
  grid-row-end: span 2;
}

.span3 {
  grid-row-end: span 3;
}

.span4 {
  grid-row-end: span 4;
}

.span5 {
  grid-row-end: span 5;
}

.span6, .spanMax {
  grid-row-end: span 6;
}

.repo {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

.open {
  background-color: var(--secondary-medium);
}

.name {
  color: var(--white);
  font-weight: normal;
  word-wrap: break-word;
  grid-column: 1 / span 2;
  margin-bottom: 0;
}

.link {
  align-self: start;
  justify-self: start;
  grid-column: 1 / span 2;
  border-radius: var(--spacing-1);
  transition: 0.5s ease all;
}

.prCount {
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  background-color: var(--primary-medium);
  color: var(--white);
  display: inline-block;
  text-align: center;
  line-height: 2.8rem;
  font-weight: bold;
}

.zeroCount {
  background-color: var(--primary-dark);
}

.magnify {
  grid-column: 1 / span 2;
  border: none;
  justify-self: end;
  align-self: end;
  background-color: transparent;
  line-height: 0;
  padding: var(--spacing-1);
  border-radius: var(--spacing-1);
  transition: 0.5s ease all;
}

.magnify:hover {
  background-color: var(--secondary-dark);
}

.magnifyIcon {
  width: 2.5rem;
  height: 2.5rem;
}

.prRow {
  grid-column: 1 / span 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  justify-items: center;
  align-items: center;
}

.prAuthor {
  color: var(--white);
  word-wrap: break-word;
}

.prAvatar {
  width: 6rem;
  height: 6rem;
  border-radius: var(--spacing-1);
  border: 2px solid var(--white);
}