@import "../../css/units.css";
@import "../../css/colors.css";

.layout {
  padding-left: 1rem;
  background: linear-gradient(to right, var(--primary-dark) 0rem, var(--primary-dark) 1rem, var(--primary-light) 1rem);
  min-height: 100%;
}

.routeContainer {
  padding: var(--spacing-3);
}
