@import "../../css/units.css";
@import "../../css/colors.css";

.layout {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 8rem auto;
}

.header {
  background-color: var(--primary-dark);
  color: var(--white);
  display: grid;
  grid-template-columns: auto minmax(1rem, 10rem) minmax(1rem, 10rem) minmax(1rem, 10rem) auto; 
  grid-auto-rows: auto;
  align-items: center;
  padding: 0 var(--spacing-3);
}

.title {
  display: inline-block;
  margin-bottom: 0;
  margin-right: var(--spacing-2);
}

.linkContainer {
  justify-self: center;
}

.link {
  display: inline-block;
  box-shadow: 0 9px 6px -6px transparent;
  padding: 0 var(--spacing-2);
  transition: 1s ease all;
}

.link:hover {
  box-shadow: 0 9px 6px -6px var(--white);
}

.activeLink {
  box-shadow: 0 9px 6px -6px var(--secondary-medium);
}

.icon, .refreshIcon {
  width: 3.2rem;
  height: 3.2rem;
}

.routeContainer {
  padding: var(--spacing-3);
}

.refresh {
  max-width: 5rem;
  background-color: transparent;
  border: none;
  box-shadow: 0 9px 6px -6px transparent;
}

.refresh:hover {
  box-shadow: 0 9px 6px -6px var(--white);
}

@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.refreshLoading {
  animation: spin 1s linear infinite;
}
