@import "../../css/colors.css";

.container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  max-width: 50rem;
  padding-left: 3rem;
  margin-bottom: 3rem;
}

.description {
  color: var(--medium-grey);
  font-weight: normal;
  font-size: 1.5rem;
  font-family: 'Roboto', sans-serif;
  margin-right: 4rem;
}

.avatar {
  width: 8rem;
  height: 8rem;
  border-radius: 0.3rem;
  box-shadow: var(--boxshadow);
  margin-right: 2rem;
}
