@import "../../css/colors.css";

.mainRouterContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navContainer {
  margin-bottom: auto;
}

.routeContainer {
  flex-basis: 100%;
}
