@import "../../css/colors.css";

.mainRouterContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.navContainer {
  margin-bottom: auto;
  position: sticky;
  top: 0;
}

.routeContainer {
  flex: 1 0 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
