@import "../../css/colors.css";
@import "../../css/units.css";

.mainRouterContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  padding-top: 5.5rem;
}

.navContainer {
  position: fixed;
  top: 0;
  z-index: var(--z-nav);
  width: 100%;
}

.routeContainer {
  flex: 1 0 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
