@import "../Repo/theme.css";

.link {
  padding: 0.5rem 0.5rem 0.5rem 0;
}

.name {
  font-size: 1.7rem;
}

.ownerAvatar {
  width: 2rem;
  height: 2rem;
}

.authorsContainer {
  display: none;
}

.progressCircle {
  width: 5.5rem;
}

.requestsCircle {
  width: 4.7rem;
  height: 4.7rem;
 }

 .requestsCount {
  font-size: 2.4rem;
}

.spinCircle, .reviewRequestsContainer, .reviewCoverageContainer, .noRequests .requestsCircle {
  width: 5.5rem;
  height: 5.5rem;
}

.spinCircle circle {
  stroke-dasharray: 8, 5;
  r: 27.5px;
}

.prCountLabel, .reviewCoverageContainer span {
  font-size: 1.2rem;
  max-width: 9rem;
}

.reviewsContainer {
  flex-direction: row;
}

.countContainer {
  flex: 0 1 33.3%;
}

.reviewsContainer {
  flex: 0 1 66.66%;
  justify-content: space-around;
}

.reviewRequestsContainer {
  margin-top: 0;
}

.countContainer, .reviewsContainer {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0.5rem;
}

.dismissNotifications, .notificationCount {
  width: 3rem;
  height: 3rem;
}

.dismissIcon {
  width: 1.5rem;
  height: 1.5rem;
}

.notificationCount {
  top: -1.7rem;
  right: -0.9rem;
  font-size: 1.4rem;
  line-height: 2.2;
}

.zeroCountContainer p {
  font-size: 1.2rem;
}