@import "../../../../css/colors.css";
@import "../../../../css/units.css";

.repoModalContainer {
  background-color: var(--primary-medium);
  width: 100%;
  height: 100%;
  z-index: var(--z-overlay);
  padding: 1.5rem;
  overflow-y: scroll;
  position: relative;
}

.repoContainer {
  z-index: var(--z-modal);
  color: var(--white);
  display: flex;
  align-items: stretch;
}

.prsContainer {
  margin: 3rem 7rem 3rem 5rem;
  flex-basis: 100%;
}

.repoName {
  position: absolute;
  top: 31rem;
  right: -31rem;
  transform: rotate(90deg);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70rem;
  height: 7rem;
}

.name {
  font-weight: normal;
  font-size: 3.3rem;
  font-family: 'Roboto', sans-serif;
  color: var(--white);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  padding-left: 2rem;
}

.link {
  transition: 0.3s ease-in-out all;
  display: flex;
  align-items: center;
  max-width: 100%;
}

.link:hover{
  text-decoration-color: var(--secondary-medium);
}

.closeButton {
  position: absolute;
  top: calc(50% - 2.5rem);
  left: 1rem;
  background-color: transparent;
  border-radius: 100%;
  transition: left 0.3s ease-in-out, background-color 0.3s ease-out;
  border: none;
  height: 5rem;
  width: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  padding-right: 0.3rem;
}

.closeButton path {
  transition: 0.3s ease-in-out all;
  fill: var(--white);
}

.closeButton:hover {
  background-color: var(--secondary-medium);
  left: 0.5rem;
}

.closeButton:hover path {
  fill: var(--secondary-dark);
}

.closeIcon {
  width: 3rem;
  height: 3rem;
}

.noPrs {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 4rem;
  box-shadow: var(--boxshadow);
  margin: 10rem 20%;
  background-color: var(--secondary-dark);
}

.noPrs span {
  color: var(--white);
  margin-left: 2rem;
  font-size: 1.7rem;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
}

.noPrsIcon {
  width: 5rem;
  height: 5rem;
  padding: 1rem;
  border-radius: 100%;
  background-color: var(--light-grey);
  opacity: 0.7;
  flex: 0 0 auto;
}