@import "../../../../css/colors.css";
@import "../../../../css/units.css";

.repoContainer {
  z-index: var(--z-modal);
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80%;
  background-color: var(--primary-light);
  color: var(--white);
}

.prsContainer {
  padding: 2rem;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--overlay);
  z-index: var(--z-overlay);
}

.repoHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1.5rem 2rem;
  background-color: var(--secondary-dark);
}

.name {
  font-weight: normal;
  font-size: 2.3rem;
  font-family: 'Roboto', sans-serif;
  color: var(--white);
}

.link {
  transition: 0.3s ease-in-out all;
}

.link:hover{
  text-decoration-color: var(--secondary-medium);
}

.closeButton {
  background-color: transparent;
  line-height: 0;
  padding: var(--spacing-1);
  border-radius: 0.3rem;
  transition: 0.5s ease-in-out all;
  border: none;
}

.closeButton path {
  transition: 0.5s ease-in-out all;
}

.closeButton:hover {
  background-color: var(--secondary-medium);
}

.closeButton:hover path {
  fill: var(--secondary-dark);
}

.closeIcon {
  width: 2rem;
  height: 2rem;
}

