@import "../../../../css/colors.css";
@import "../../../../css/units.css";

.repoModalContainer {
  background-color: var(--primary-medium);
  width: 100%;
  height: calc(100vh - 5.5rem);
  z-index: var(--z-overlay);
  padding: 1.5rem;
  overflow-y: scroll;
  position: relative;
}

.repoModalContainer::-webkit-scrollbar-track {
  background-color: var(--primary-medium);
}

.repoModalContainer::-webkit-scrollbar-thumb {
  background-color: var(--primary-light);
  border: 0.3rem solid var(--primary-medium);
}

.repoContainer {
  z-index: var(--z-modal);
  color: var(--white);
  display: flex;
  align-items: stretch;
  min-height: 100%;
}

.mainContainer {
  margin: 3rem 7rem 3rem 5rem;
  flex-basis: 100%;
}

.pullRequestsContainer {
  display: grid;
  grid-column-gap: 2.5rem;
  grid-row-gap: 3rem;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: minmax(70px, auto);
}

.closedPullRequestsContainer {
  display: grid;
  grid-column-gap: 2.5rem;
  grid-row-gap: 3rem;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: minmax(70px, auto);
}

.repoName {
  position: fixed;
  top: 31.5rem;
  right: -31.5rem;
  transform: rotate(90deg);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70rem;
  height: 7rem;
}

.name {
  font-weight: normal;
  font-size: 3.3rem;
  font-family: 'Roboto', sans-serif;
  color: var(--white);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  padding-left: 2rem;
}

.closedTitle {
  margin: 3rem 0;
}

.link {
  transition: 0.3s ease-in-out all;
  display: flex;
  align-items: center;
  max-width: 100%;
}

.link:hover{
  text-decoration-color: var(--secondary-medium);
}

.closeButton {
  position: fixed;
  top: calc(50vh - 2.5rem);
  left: 1rem;
  background-color: transparent;
  border-radius: 100%;
  transition: left 0.3s ease-in-out, background-color 0.3s ease-out;
  border: none;
  height: 5rem;
  width: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  padding-right: 0.3rem;
}

.closeButton path {
  transition: 0.3s ease-in-out all;
  fill: var(--white);
}

.closeButton:hover {
  background-color: var(--secondary-medium);
  left: 0.5rem;
}

.closeButton:hover path {
  fill: var(--secondary-dark);
}

.closeIcon {
  width: 3rem;
  height: 3rem;
}

.noPRs {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.noPRs p {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 1.5rem;
  font-family: 'Roboto', sans-serif;
  color: var(--primary-extra-dark);
}

.crossIcon {
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 1rem;
}

.crossIcon path {
  fill: var(--primary-extra-dark);
}

@media (min-width: 1400px) {
  .pullRequestsContainer {
    max-width: 80%;
    margin-left: 10%;
  }
}