:root {
  --black: #000000;
  --white: #FFFFFF;
  --repo-default: #E7E1E1;
  --overlay: rgba(0,0,0,0.7);
  --primary-dark: #2B2D42;
  --primary-medium: rgba(141, 153, 174, 1);
  --primary-light: rgba(237, 242, 244, 1);
  --secondary-medium: rgba(239, 35, 60, 1);
  --secondary-dark: #D90429;
  --approved: rgb(0, 157, 18);
  --changes-requested: rgb(220, 66, 0);
  --commented: rgb(0, 125, 220);
  --pending: #FFFFFF;
  --dismissed: #555555;
  --medium-grey: #555;
  --light-grey: #888;
}

