:root {
  --black: #000000;
  --white: #FFFFFF;
  --repo-default: #E7E1E1;
  --overlay: rgba(0,0,0,0.7);
  --primary-extra-dark: #0f0d1d;
  --primary-dark: #1E1A39;
  --primary-medium: #7442F7;
  --primary-light: #F7F7F7;
  --secondary-medium: #00F1D6;
  --secondary-dark: #1D2843;
  --tertiary-medium: #f1b100;
  --tertiary-dark: #ff8800;
  --extra-dark-grey: #222;
  --dark-grey: #333;
  --medium-grey: #555;
  --light-grey: #888;
  --error-red: rgb(238, 67, 1);
  --boxshadow: 0 0.1rem 0.4rem 0 rgba(0, 0, 0, 0.4);
}

