@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto');


html {
  /* This percentage allows us to use REM values that map to pixels (e.g. 1.6rem === 16px) */
  font-size: 62.5%;
  background-color: var(--primary-light);
  height: 100%;
}

* {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

body {
  margin: 0;
  padding: 0;
  font-size: var(--font-size-6);
  line-height: var(--line-height-2);
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0;
}

h1 {
  font-size: var(--font-size-1);
}

h2 {
  font-size: var(--font-size-2);
}

h3 {
  font-size: var(--font-size-3);
  font-weight: normal;
}

h4 {
  font-size: var(--font-size-4);
  font-weight: normal;
}

h5 {
  font-size: var(--font-size-5);
  font-weight: normal;
}

h6 {
  font-size: var(--font-size-6);
}

a {
  text-decoration: underline;
  font-weight: bold;
  text-decoration-color: transparent;
  color: var(--primary-dark);
}

a:hover {
  text-decoration: underline;
  transition: 0.5s ease all;
  text-decoration-color: var(--secondary-medium);
}

button {
  cursor: pointer;
}