:root {
  --font-size-1: 3.6rem;
  --font-size-2: 2.8rem;
  --font-size-3: 2.4rem;
  --font-size-4: 2.1rem;
  --font-size-5: 1.8rem;
  --font-size-6: 1.6rem;
  --font-size-7: 1.4rem;

  --z-overlay: 10;
  --z-modal: 20;

  --spacing-8: 4rem;
  --spacing-7: 3.5rem;
  --spacing-6: 3rem;
  --spacing-5: 2.5rem;
  --spacing-4: 2rem;
  --spacing-3: 1.5rem;
  --spacing-2: 1rem;
  --spacing-1: 0.5rem;

  --line-height-1: 2;
  --line-height-2: 1.6;
  --line-height-3: 1.4;
  --line-height-4: 1.2;
  --line-height-5: 0.8;
}

