@import "../../css/colors.css";
@import "../../css/units.css";

.signInContainer {
  text-align: center;
}

.welcome {
  font-weight: bold;
  color: var(--primary-medium);
  font-size: 1.8rem;
}

.begin {
  margin: 3rem auto;
}