@import "../../css/colors.css";
@import "../../css/units.css";

.signInContainer {
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.welcome {
  font-weight: bold;
  color: var(--primary-medium);
  font-size: 1.8rem;
  margin-top: 0;
}

.begin {
  margin: 3rem auto;
}
