@import "../../css/colors.css";
@import "../../css/units.css";

.selectReposContainer {
  min-height: calc(100vh - 5.5rem);
  display: flex;
  flex-direction: column;
}

.loadingContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.paginationContainer {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: 5rem auto;
  padding: 0;
  flex: 1 0 100%;
}

.fullScreen {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--primary-extra-dark);
  z-index: var(--z-overlay);
}

@media only screen and (min-width: 840px) {
  .paginationContainer {
    width: 80rem;
  }
} 

.paginationItem {
  list-style: none;
  height: 4rem;
  flex-basis: 100%;
  margin-right: 0.3rem;
  background-color: var(--primary-medium);
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.paginationItem:first-child {
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
}

.paginationItem:last-child {
  border-top-right-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
  margin-right: 0;
}

.paginationItem:hover{
  background-color: var(--secondary-dark);
}

.paginationItem a {
  color: var(--white);
  line-height: 4rem;
  font-size: 2rem;
  font-family: 'Roboto', sans-serif;
}

.paginationItem a:hover {
  text-decoration: none;
}

.activeItem {
  background-color: var(--secondary-medium);
}

.activeItem a {
  color: var(--primary-extra-dark);
}

.activeItem:hover a {
  color: var(--white);
}

.disabledItem, .disabledItem:hover {
  background-color: var(--medium-grey);
}

.disabledItem, .disabledItem:hover, .disabledItem a {
  cursor: default;
}

.title {
  color: var(--white);
  font-weight: normal;
  font-size: 2rem;
  text-align: center;
  margin: 3rem auto;
}

.intro {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-size: 1.3rem;
  color: var(--light-grey);
  text-align: center;
  margin: 1rem auto;
}

.selectionControls {
  min-height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filterInput {
  width: 20rem;
}

.filterLabel {
  margin-right: var(--spacing-2);
}

.filterContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem auto 4rem;
}

.filterContainer label {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-size: 1.5rem;
  color: var(--white);
}

.filterContainer input {
  flex-basis: 40rem;
  font-size: 1.5rem;
  border-radius: 0.3rem;
  border: 0.1rem solid var(--primary-medium);
  box-shadow: inset 0 -0.4rem 0 0 rgba(0, 0, 0, 0.08);
  background-color: var(--primary-dark);
  height: 5rem;
  padding: 0 1rem;
  transition: all 0.5s ease;
  color: var(--white);
}

.filterContainer input:focus {
  box-shadow: inset 0 -0.4rem 0 0 var(--secondary-medium);
}

.fadeDefault {
  transition: opacity 300ms ease-out;
  opacity: 0;
}

.fadeEntering {
  opacity: 0;
}

.fadeEntered {
  opacity: 1;
}

.fadeExiting {
  opacity: 0;
}

.fadeExited {
  opacity: 0;
}