@import "../../css/colors.css";
@import "../../css/units.css";

.pinContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: var(--spacing-2);
}

.title {
  color: var(--secondary-dark);
  font-weight: normal;
}

.paginationContainer, .filterContainer {
  display: flex;
  justify-content: center;
  align-content: center;
}

.filterInput {
  width: 20rem;
}

.filterLabel {
  margin-right: var(--spacing-2);
}

.paginationIcon {
  height: 2.5rem;
}

.paginationButton {
  background-color: transparent;
  border: none;
  display: inline-flex;
  justify-content: center;
  align-content: center;
  cursor: pointer;
  margin: 0 var(--spacing-2);
}

.currentPage {
  line-height: 4rem;
}

.reposContainer {
  justify-self: center;
}