@import "../../css/units.css";
@import "../../css/colors.css";


.header {
  background-color: var(--primary-dark);
  color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--spacing-3);
  z-index: var(--z-nav);
  height: 5.5rem;
}

.draggable {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  width: 100%;
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

.links {
  display: inline-flex;
  flex-basis: 100%;
  justify-content: center;
  margin-left: 4rem;
}

.currentUser {
  flex-basis: 0%;
  flex-shrink: 1;
}

.linkContainer {
  justify-self: center;
}

.link {
  display: inline-block;
  padding: 0;
  margin: 0 1.5rem;
  transition: 1s ease all;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 1.5rem;
  font-family: 'Roboto', sans-serif;
  color: white;
  border-bottom: 0.2rem solid transparent;
}

.link:hover, .link:focus {
  text-decoration-color: transparent;
}

.link:hover {
  border-bottom: 0.2rem solid white;
}

.activeLink {
  border-bottom: 0.2rem solid var(--secondary-medium);
}
