@import "../../css/units.css";
@import "../../css/colors.css";


.header {
  background-color: var(--primary-dark);
  color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--spacing-3);
  position: sticky;
  top: 0px;
  z-index: var(--z-nav);
}

.links {
  display: inline-flex;
  flex-basis: 33.3%;
  justify-content: center;
}

.titleContainer, .currentUser {
  flex-basis: 33.3%;
}

.titleContainer {
  display: flex;
  align-items: center;
}

.title {
  display: inline-block;
  margin-bottom: 0;
  margin-right: var(--spacing-2);
}

.sync {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 1rem;
  color: transparent;
  position: absolute;
  top: 2.3rem;
  left: 6rem;
  transition: 0.3s ease-in-out all;
}

.syncActive {
  color: var(--light-grey);
}

.linkContainer {
  justify-self: center;
}

.link {
  display: inline-block;
  padding: 0;
  margin: 0 1.5rem;
  transition: 1s ease all;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 1.5rem;
  font-family: 'Roboto', sans-serif;
  color: white;
  border-bottom: 0.2rem solid transparent;
}

.link:hover, .link:focus {
  text-decoration-color: transparent;
}

.link:hover {
  border-bottom: 0.2rem solid white;
}

.activeLink {
  border-bottom: 0.2rem solid var(--secondary-medium);
}

.refresh {
  background-color: transparent;
  border: none;
  padding: 0;
  align-self: stretch;
  width: 5.5rem;
  position: relative;
}
