@import "../../css/colors.css";
@import "../../css/units.css";

.setupContainer {
  color: var(--medium-grey);
  width: 80%;
  margin: 0 10%;
  text-align: center;
}

.pageTitle {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 1.5rem;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin-top: 2rem;
}

.loadingContainer {
  display: flex;
  justify-content: center;
  margin: 10rem 0;
}

.loadingContainer div {
  left: -2.5rem;
}