@import "../../css/colors.css";
@import "../../css/units.css";

.setupContainer {
  color: var(--medium-grey);
  width: 80%;
  margin: 0 10%;
  text-align: center;
}

.progressBar {
  text-align: center;
  margin: 1rem auto 3rem;
  position: relative;
  max-width: 18.2rem;
}

.step {
  width: 3.4rem;
  height: 3.4rem;
  border-radius: 100%;
  border: 2px solid var(--medium-grey);
  background-color: white;
  display: inline-block;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  line-height: 2;
  z-index: 20;
}

.activeStep {
  background-color: var(--secondary-medium);
  color: var(--primary-dark);
}

.stepOne {
  margin-right: 4rem;
}

.stepTwo {
  margin-right: 4rem;
}

.stepThree {}

.pageTitle {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 1.5rem;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin-top: 2rem;
}
